*
{
	box-sizing: border-box;
	font-family: Times New Roman;
}

h3
{
	text-align: center;
}

body
{
	margin: 25px;
}


@media (min-width: 992px )
{
	div.col-lg-3 
	{
		width: 31.5%;
		float:left;
		border: 1px solid black;
		margin-right: 10px;
		background-color: yellow;

	}

	section
	{
		float: right;
		border: 1px solid black;
		border-top:0;
		border-right: 0;
		/*background-color: blue;*/
		width: 25%;
		text-align: center;
	}

	p
	{
		margin-bottom: 0;
		margin-top:30px;
		margin-right: auto;
		margin-left: auto;

	}

	.s1
	{
		background-color: pink;
	}

	.s2
	{
		background-color: blue;
	}

	.s3
	{
		background-color: red;
	}

}

@media (min-width: 768px) and (max-width: 991px)
{
	div.col-md-6 
	{
		width: 43%;
		float: left;
		border: 1px solid black;
		background-color: yellow;
	}

	section
	{
		float: right;
		border: 1px solid black;
		border-top:0;
		border-right: 0;
		width: 25%;
		text-align: center;
	}

	.s1
	{
		background-color: pink;
	}

	.s2
	{
		background-color: blue;
	}

	.s3
	{
		background-color: red;
		width:12.5%;
	}

	#row1
	{
		margin-right: 20px;
		margin-left: 20px;
	}

	#row2
	{
		margin-right:0;
	}


	#row3
	{
		margin-top: 10px;
		width:88.5%;
		margin-left: 20px;
		margin-right: 0;
	}

	p
	{
		margin-bottom: 0;
		margin-top: 30px;
	}


}

@media (max-width: 767px)
{
	div.col-sm-12 
	{
		width: 75%;
		border: 1px solid black;
		margin-left: 75px;
		margin-right: 100px;
		background-color: yellow;
		margin-bottom: 25px;
		height:100%;

	}

	section
	{
		float: right;
		border: 1px solid black;
		border-top:0;
		border-right: 0;
		/*background-color: blue;*/
		width: 25%;
		text-align: center;
	}

	p
	{
		margin-bottom: 0;
		margin-top: 30px;
	}

	.s1
	{
		background-color: pink;
	}

	.s2
	{
		background-color: blue;
	}

	.s3
	{
		background-color: red;
	}

}